@import url(./header.css);
@import url(./footer.css);
@import url(./reset.css);

.body{
  background: var(--black);
  font-family: 'architectsDaughter';
  font-weight: bold;
  font-size: larger;
  color: var(--white);
}

.graph, section, main{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.graphs{
  width: 100%;
}

.error {
  color: var(--pokedex);
}

@media only screen and (min-width: 768px){
  .graph{
    margin-top: 40px;
    width: 70%;
  }
}
