@import url(./header.css);
@import url(./footer.css);
@import url(./reset.css);

.body{
  background: var(--black);
  font-family: 'architectsDaughter';
  font-weight: bold;
  font-size: larger;
}

.container-main{
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: auto;
}

.filters{
  background-color: var(--white);
  border-top: 4px solid var(--snow);
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

.filter-options{
  font-family: 'spaceMono';
  border-color: var(--black);
  border: solid;
  border-radius: 7px;
  text-align: center;
}

.select{
  display: flex;
  flex-direction: row;
}

.main{
  height: 77vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mysterious-pokemon{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.img-style{
  border-radius: 5%;
  border-radius:0px 30px 0px 30px;

}

.big-card{
  margin-right: 1%;
  width: 46vw;
  height: 99%;
  background: var(--cards);
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding: 1rem;
}

.paragraph-big-about{
  width: 80%;
  padding-top: 2%;
  margin: auto;
  text-align: left;
  margin-bottom: 2%;
  font-weight: normal;
}

.paragraph-big{
  font-weight: normal;
  font-size: smaller;
  font-family: 'spaceMono';
  padding: 10px;
  padding-top: 1%;
  margin: auto;
  text-justify: auto;
}

.image-big{
  border-style: groove;
  border-image: round;
  border-radius: 10%;
}

.pattern{
  background-color: var(--pattern);
  margin: 4px;
  height: auto;
  width: 150px;
  border-style: groove;
  border-image: round;
  border-radius: 3%;
}

.margin{
  border-radius: 10px;
  margin-top: 15px;
}

.pokedex{
  margin-left: 1%;
  height:  99%;
  width: 46vw;
  background: var(--pokedex);
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  overflow-y: auto;
}

.card-pokemon-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.card-pokemon{
  border-radius: 10px;
  margin: 5px;
  background: var(--cards);
  width: 170px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
  border-color: var(--pattern);
  color: var(--black);
  box-shadow: 0 0 40px 40px var(--pattern) inset, 0 0 0 0 var(--pattern);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.card-pokemon:hover{
  box-shadow: 0 0 10px 0 var(--lighteffect), 0 0 10px 4px var(--lighteffect);
}

.paragraph-card{
  margin-top: 4px;
  font-family: 'spaceMono';
}

.scrollbar-pattern::-webkit-scrollbar-track{
	box-shadow: inset 0 0 6px var(--shadow);
	background-color: transparent;
}

.scrollbar-pattern::-webkit-scrollbar{
	width: 10px;
	background-color: transparent;
}

.scrollbar-pattern::-webkit-scrollbar-thumb{
	background-color: var(--black);
	border: 2px solid var(--pattern);
  border-radius: 10px;
}

@media only screen and (max-width: 768px){
  .filters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .select{
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }

  .legend{
    margin: 0;
  }
}

@media only screen and (max-width: 600px){
  .container-main{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
  }

  .main{
    height: 160vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .big-card{
    height: 70vh;
    width: 95%;
  }

  .pokedex{
    height: 70vh;
    width: 95%;
  }
}
