:root{
    --pokedex: #D63025;
    --cards: #C4C4C4;
    --shadow: rgba(0, 0, 0, 0.527);
    --line: rgba(0, 0, 0, .05);
    --pattern: rgba(94, 92, 90, 0.397);
    --lighteffect: #FFCC00;
}

*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: 'architectsDaughter';
  src: url(./fontes/ArchitectsDaughter-Regular.ttf) format('truetype'),url(./fontes/OFL.txt) format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'spaceMono';
  src: url(./fontes/Space_Mono/SpaceMono-Regular.ttf) format('truetype'),url(./fontes/Space_Mono/OFL.txt) format('opentype');
  font-weight: normal;
  font-style: normal;
}

.body{
  background: black;
  font-family: 'architectsDaughter';
  font-weight: bold;
  font-size: larger;
}

.container-main{
  background-color: black;
  display: flex;
  flex-direction: column;

}

.header-menu{
  height: 80px ;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
}

.logo-image{
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.menu {
  display: flex;
  gap: .5rem;
}

.menu .link{
  display: block;
  padding: .5rem;
}

.link:hover {
  background: var(--line);
}

.link{
  color: black;
}

.btn-mobile{
  display: none;
}

.img-header{
  height: 60px;
  margin: 1%;
}

.filters{
  background-color: white;
  border-top: 4px solid snow;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.filter-options{
  font-family: 'spaceMono';
}

.main{
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.paragraph-big {
  padding: 10px;
  padding-top: 1%;
  margin: auto;
  text-justify: auto;
}

.mysterious-pokemon{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.img-style{
  border-radius: 5%;
  border-radius:0px 30px 0px 30px;

}

.big-card{
  margin-right: 1%;
  width: 46vw;
  height:  70vh;
  background: var(--cards);
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding: 1rem;
}

.paragraph-big-about{
  width: 80%;
  padding-top: 2%;
  margin: auto;
  text-align: justify;
  margin-bottom: 2%;
  font-weight: normal;
}

.paragraph-big{
  font-weight: normal;
  font-size: smaller;
  font-family: 'spaceMono';
}

.image-big{
  border-style: groove;
  border-image: round;
  border-radius: 10%;
}

.pattern{
  background-color: var(--pattern);
  margin: 4px;
  height: auto;
  width: 150px;
  border-style: groove;
  border-image: round;
  border-radius: 3%;
}

.margin{
  border-radius: 10px;
  margin-top: 15px;
}

.pokedex{
  margin-left: 1%;
  height:  70vh;
  width: 46vw;
  background: var(--pokedex);
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  overflow-y: auto;
}

.card-pokemon-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.card-pokemon{
  border-radius: 10px;
  margin: 5px;
  background: var(--cards);
  width: 170px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
  border-color: var(--pattern);
  color: black;
  box-shadow: 0 0 40px 40px var(--pattern) inset, 0 0 0 0 var(--pattern);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

.card-pokemon:hover {
  box-shadow: 0 0 10px 0 var(--lighteffect), 0 0 10px 4px var(--lighteffect);
}

.paragraph-card{
    margin-top: 4px;
    font-family: 'spaceMono';
}

.baseboard{
  text-align: center;
  text-justify: center;
  background-color: black;
  color: white;
  padding-top: 10px;
  font-size: larger;
}

.img-git{
  border-radius: 10%;

}

.img-git:hover{
  -webkit-filter:yellowscale(100%);
  transition: 1s;
  color: #111;
  background: var(--lighteffect);
  box-shadow: var(--lighteffect);
}

@media only screen and (max-width: 700px){
  .menu{
    display: block;
    position: absolute;
    width: 50vh;
    top: 80px;
    right: 0;
    background: white;
    box-shadow: -2rem 2rem 2rem var(--shadow);
    transition: .6s;
    height: 0px;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
  }

  .menu .link{
   padding: 1rem 0;
   margin: 0 1rem;
   border-bottom: 2px solid var(--line);
  }

  .btn-mobile{
    display: flex;
    padding: .5rem;
    font-size: 1rem;
    background: none;
    cursor: pointer;
    gap: .5rem;
  }

  .hamburguer{
    border-top: 2px solid;
    width: 20px;
  }

  .hamburguer::after, .hamburguer::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  .nav-options.active .hamburguer{
    border-top-color: transparent;
  }

  .nav-options.active .hamburguer::before{
    transform: rotate(135deg);

  }

  .nav-options.active .hamburguer::after{
    transform: rotate(-135deg);
    top: -7px;
  }

  .nav-options.active .menu{
    visibility: visible;
    height: calc(90vh - 80px);
    overflow-y: auto;
  }
}
@media only screen and (max-width: 600px) {
  .container-main{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
  }

  .menu{
    display: block;
    position: absolute;
    width: 50vh;
    top: 80px;
    right: 0;
    background: white;
    box-shadow: -2rem 2rem 2rem var(--shadow);
    transition: .6s;
    height: 0px;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
  }

  .menu .link{
   padding: 1rem 0;
   margin: 0 1rem;
   border-bottom: 2px solid var(--line);
  }

  .btn-mobile{
    display: flex;
    padding: .5rem;
    font-size: 1rem;
    background: none;
    cursor: pointer;
    gap: .5rem;
  }

  .hamburguer{
    border-top: 2px solid;
    width: 20px;
  }

  .hamburguer::after, .hamburguer::before{
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }

  .nav-options.active .hamburguer{
    border-top-color: transparent;
  }

  .nav-options.active .hamburguer::before{
    transform: rotate(135deg);

  }

  .nav-options.active .hamburguer::after{
    transform: rotate(-135deg);
    top: -7px;
  }

  .nav-options.active .menu{
    visibility: visible;
    height: calc(90vh - 80px);
    overflow-y: auto;
  }

  .filters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .big-card{
    height: 70vh;
    width: 98%;
  }

  .pokedex{
    height: 70vh;
    width: 98%;
  }

  .baseboard{
    margin-top: auto;
  }
}


